
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <style>
        body {
            background-color: linen;
        }

        h1 {
            color: maroon;
            margin-left: 40px;
        }
    </style>
</head>
<body>
    <hgroup>
        <h1>Error.@Model.Name</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>
